.btn{
  /* height: 20px; */
  /* width: 40px; */
  background-color: rgb(19, 224, 19);
  color: white;
  padding: 5px;
}

button{
  color: aqua;
}

input{
  height: 20px;
  border: 2px solid rgb(129, 129, 119);
}


.mylist{
  background-color: yellow;
  margin: 0px 450px;
  align-items: center;
}

li{
  color: blue;
}