/* .name{
    display: ;
} */

.container{
    display: flex;
    justify-content: space-around;
    margin: 30px 350px 0px 350px;
    background-color: aqua;
    padding: 20px;

}

#image{
    height: 100px;
    width: 100px;
    border-radius: 50px;
}