/* .name{
    display: ;
} */




p{
    color: rgba(0, 0, 0, 0.521);
    font-weight: 900;
}


.body-container{
    background-color: rgb(205, 208, 212);
    margin: 30px 370px 0px 370px;
    padding: 20px 5px;

}
.container{
    padding: 30px 0px;
    display: flex;
    justify-content: space-around;
   

}

.container-2{
    padding: 0px 0px;
    display: flex;
    justify-content: space-around;
   

}

#image{
    height: 100px;
    width: 100px;
    border-radius: 50px;
}